.page {
  margin: 0;
}

/* COLUMNA CENTRAL :) */
.container {
  margin: 0 15px;
  background-color: cyan;
  max-width: 924px;
}

@media all and (min-width: 768px) {
  .container {
    margin: 0 46px;
  }
}

@media all and (min-width: 1016px) {
  .container {
    margin: 0 auto;
    
  }
}


.page__header {
  background-color: green;
  color: white;
}
.page__header-title {
  margin: 0;
}
.hero {
  height: 421px;
  background: url(https://images.unsplash.com/photo-1477036724282-913d4079d367?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=757&q=80) center bottom no-repeat;
  background-size: cover;
}
.hero .container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.hero__title {
  margin: 0;
  padding: 10px;
  background-color: white;
  transform: translateY(50%);
  flex-grow: 1;
}
.team,
.members {
  text-align: center;
}
.team__extra {
  background: lightgrey;
}
.page__footer {
  border-top: 1px solid #ccc;
}